@import "https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 14px;
    font-family: "Literata", Arial, sans-serif;
}
.dasar_bg{
    width: 100%;
    height: 100vh;
    color: #000;
    background: linear-gradient(to right, #ffffff 70%, #00ff00 100%);
}
.judul{
    /* margin: 10px; */
    /* padding: 15px; */
    color: rgb(3, 126, 3);
}
.judul h1{
    /* text-align: center; */
    font-size: 32px;
}

.box{
    padding: 30px;
}
/* .box span{
    border: 1px solid #000;
    background-color: #ffffff;
    color: black;
} */

.partisi{
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.medsos{
    padding-top: 65px;
    padding-bottom: 0px;
    padding-left: 5px;
    display: flex;
}
.medsos p {
    padding-left: 5px;
    margin-top: 7px;
    font-weight: bold;
}
.medsos img{
    margin-left: 7px;
}


.pil {
    width: 70%;
    margin-left: 110px;
    margin-top: 57px;
}

.kot {
    margin-top: 55px;
    margin-left: 70px;
    width: 260px;
    height: 45px;
    position: absolute;
    display: flex;
}
.kot .suhu {
    display: flex;
    padding-left: 7px;


}
.kot .suhu p {
    margin-top: 10px;
    padding-left: 2px;
    font-weight: bold;


}


.kotak{
    padding: 5px;
    margin-left: 345px;
    background-color:#fff;
    width: 42%;
    height: 9rem;
    margin-top: -30px;
    
}


.bx1 p {
    font-weight: bold;
    
}



/* media queries  */

@media (max-width:1200px){
    
    html{
        font-size: 55%;
    }

}

@media (max-width:991px){
    
    section{
        padding:0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }

}

@media (min-width: 768px){

    .dasar_bg{
        
        color: #000;
        background: linear-gradient(to right, #ffffff 30%, #00ff00 100%);
    }
    .judul {
        color: #000;
    }

    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        text-align: center;
        top:100%; left: 0;
        width:100%;
        background:#fff;
        padding:1rem 2rem;
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar a{
        display: block;
        margin:2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content:'\f00d';
    }

    .home{
        flex-flow: column-reverse;
        text-align: center;
    }

    .home .image img{
        width:100%;
    }

    .home .content h3{
        font-size: 3.6rem;
        text-align: center;
    }

    .home .content p{
        font-size: 1.5rem;
        text-align: center;
    }

    .about{
        background-position: right;
    }

    .newsletter p{
        width:auto;
    }

}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .about .column .content .buttons a{
        width:100%;
        text-align: center;
    }

    .about .column .content .buttons a:last-child{
        margin: 1rem 0;
    }

}